.log-container2 {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

.register-container2 {
    background-color: #3b5d50;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    bottom: 80px;
}

.register-title2 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group2 {
    margin-bottom: 1.5rem;
    text-align: left;
}

.label2 {
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
}

.input2 {
    width: 100%;
    padding: 10px;
    border: 2px solid #e1e5ee;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8faff;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.input2:focus, .select2:focus {
    outline: none;
    border-color: #1e7259;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(30, 103, 114, 0.5);
}

.error2 {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 5px;
    display: none;
}

.button2 {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #1e7259, #237d56);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 15px rgba(25, 116, 90, 0.5);
    margin-top: 20px;
}

.button2:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(25, 116, 90, 0.7);
}

.register-container2 .register2 {
    color: #ffffff;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 10px;
    display: inline-block;
}

.register-container2 .register2:hover {
    color: #000;
    text-decoration: none;
}
.row{
    width: 100%;
    margin: 0 auto;
    position: relative;
    left: 16px;
    }

/* Responsive Design */
@media (max-width: 768px) {
    .register-container2 {
        width: 100%;
        padding: 20px;
    }

    .login-title2 {
        font-size: 2rem;
    }

    .button2 {
        font-size: 1rem;
    }
}
