*{
    padding: 0;
    margin: 0;
}
.side-bar{
    display: block;
    background:black;
    width: 25%;
    height: 100vh;
}
.img{
    width: 200px;
    height: 250px;
    border-radius:15%;
    margin-left: 87px;
    position: relative;
    top: 30px;
    /* border: 1px solid black; */
    /* box-shadow: 1px 1px 10px 2px blanchedalmond ; */
    transition-duration: 0.4s;
}
.img:hover{
    transform: scale(1.05);
}
.name{
    padding: 10px;
    color: blanchedalmond;
    text-shadow: 3px 3px 3px  rgb(30, 27, 27);
    font-family: math;
    letter-spacing: 2px;
    position: relative;
    top: 35px;
    left: 30px;
}
.im{
    font-size: 40px;
    color: blanchedalmond;
    text-shadow: none;
    font-family: none;
    letter-spacing: normal;
}
.link-main{
    display: inline-grid;
    position: relative;
    left: 28%;
    margin-top: 18%;
    font-size: 17px;
}
.link{
    text-decoration: none;
    color: blanchedalmond;
    text-shadow: 3px 3px 3px  rgb(30, 27, 27);
    font-family: math;
    letter-spacing: 3px;
    margin-top: 25px;
    /* transition-duration: 0.4s; */
}
.link:hover{
    color: rgb(190, 171, 171);
    /* transform: scale3d(1.2, 1.2, 1.1); */
    font-weight: bolder;
    /* background-color: rgb(105, 97, 97);
    border-radius: 10px 10px 10px; */
}